{% extends 'ex01/base.html' %}


{% block title %}
    <title>Ex01 : Processus d'affichage d'une page statique.</title>
{% endblock title %}


{% block content %}
    <div>
        <h1>Ex01 : Processus d'affichage d'une page statique.</h1>
        <p>Lorsque django reçoit la requête pour une page web statique, le fichier urls.py du projet puis de l'app
        détermine quelle est la fonction qui correspond a cette requete dans le fichier views de l'app.
            Cette fonction va renvoyer une réponse HTTP après avoir processé le template concerné grâce au moteur
            de template afin d'obtenir le code HTML.</p>
    </div>
{% endblock content %}
